.menu_item {
  padding: 22px 28px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 28px;
  margin-right: 28px;
  box-shadow: 0px 8 20px 0px rgba(255, 160, 28, 0.05);
  .menu_item_icon {
    width: 164px;
    height: 164px;
    margin-right: 20px;
  }
  .menu_item_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    .menu_item_title {
      font-size: 32px;
      line-height: 38px;
      font-weight: 500;
    }
    .menu_item_subTitle {
      color: #66666699;
      font-size: 26px;
      line-height: 30px;
      margin-top: 28px;
    }
  }
}
